@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Julius+Sans+One&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Gluten:wght@100..900&family=Lexend+Peta:wght@100..900&family=Original+Surfer&family=Special+Elite&family=Sue+Ellen+Francisco&display=swap');
body {
    /* font-family: "Original Surfer", sans-serif;
    font-weight: 400;
    font-style: normal; */
    margin: 0;
    padding: 0;
    background: rgb(0,0,0);
    color: white;
    
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-transform: uppercase;
    color: grey;
  }
nav ul li {
    padding: 0 .5em .25em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
  }
nav ul li:hover {
    color: #fff;
  }
nav ul li:before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    scale: 0 1;
    transition: .3s, translate 0s .3s;
  }
nav ul:hover li:before {
    scale: 1;
  }
nav ul li:hover:before {
    translate: 0;
    transition: .3s;
  }
nav ul:hover li:has(~ li:hover):before {
    translate: 100% 0;
    transition: .2s .2s,scale 0s .4s;
  }
nav ul:hover li:hover ~ li:before {
    translate: -100% 0;
    transition: .2s .2s,scale 0s .4s;
  }
  
nav {
    margin: 0;
    padding: 10px;
    display: grid;
    place-content: center;
    background: #232323a4;
    font-family: "Julius Sans One", sans-serif;
    font-size: larger;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

/* nav {
    background-color: #232323a4;
    padding: 10px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    text-decoration: underline;
} */

main {
    padding: 20px;
}

h2 {
    color: #333;
}

ul {
    line-height: 1.6; 
}

li {
    margin-bottom: 10px; 
}

.heading{
    font-family: "didot";
    padding-left: 10px;
  }
  
.heading h1{
    font-size: 100px;
    margin: 0;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: .9;
  }
  
.heading .rotate {
     transform: rotate(180deg);
  }
  
.heading {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: max-content max-content;
}
.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.duration{
    background-image: linear-gradient(to top, #30d0d074 0%, #33086775 100%);
    height: 500px;
    width: 90%;
    border-left: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 45px;
    line-height: 1.2em;
    padding:20px;
    color: #d1d1d1af;
    font-family: "Julius Sans One", sans-serif;
}
#description{
    font-size: 25px;
    font-family: "Lexend Peta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    color: #979797;
    padding-bottom: 80px;
}
.highlight{
    font-weight: bold;
    color: white;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincircuit h2{
    color: white;
    font-size: 50px;
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
}
.maincircuit p{
    font-size: 24px;
    font-family: "Lexend Peta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
}
.maincircuit li{
    font-size: 16px;
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    text-decoration:wavy;
  }   

.maincircuit li strong{ 
    font-size: 20px;
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      text-decoration: underline;
}



.container {
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}
.card {
    position: relative;
    color: white;
    width: 400px;
    height: 650px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow:hidden;
}

.card::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    background: linear-gradient(to right, #ff3c7b, #40c9ff);
    animation: animate 4s linear infinite;
    opacity: 0;
    transition: 0.5s;
}

.card:hover::before {
    opacity: 1;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card .content {
    position: relative;
    width: 96%;
    height: 96%;
    background: #1c1c1c;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.card .content h2 {
    color: #ff3c7b;
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 5px;
}

.card .content h3 {
    color: #fff;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Lexend Peta", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}

.card .content a {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #ff3c7b, #40c9ff);
    border-radius: 25px;
    transition: 0.5s;
}

.card .content a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 60, 123, 0.4);
}
.warmup{
    position: relative;

  }
  
  /* Make the image to responsive */
.image {
    display: block;
    width: 100%;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:1;
    color: white;
    font-size: 20px;
    padding: 20px;
  }
.warmup h3{
    color: white;
    font-size: 50px;
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;
}
.warmup p{
    font-size: 24px;
    font-family: "Lexend Peta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
}
.warmup li{
    font-size: 16px;
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    text-decoration:wavy;
  }   

.warmup li strong{ 
    font-size: 20px;
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      text-decoration: underline;
}

.afterwork{
    position: relative;
  }

.afterwork h2{
    color: white;
    font-size: 50px;
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;
}
.afterwork p{
    font-size: 24px;
    font-family: "Lexend Peta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
}
.afterwork li{
    font-size: 16px;
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    text-decoration:wavy;
  }   

.afterwork li strong{ 
    font-size: 20px;
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      text-decoration: underline;
}

.afterwork .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:1;
    color: white;
    font-size: 20px;
    padding: 20px;
    align-content: center;
  }




